<app-navbar></app-navbar><br>
<div class="container pt-2" id="fondo">
  <div class="jumbotron m-3">
    <div class="text-center">
      <h3>Crear nueva cuenta</h3>
    </div>
    <form [formGroup]="formulariouser">
      <div class="mb-3">
        <label for="usuarionombres" class="form-label">Nombre(s)</label>
        <input
          type="text"
          class="form-control"
          id="usuarionombres"
          formControlName="usuarionombres"
        />
      </div>
      <div class="mb-3">
        <label for="usuarioapellidoP" class="form-label">Primer Apellido</label>
        <input
          type="text"
          class="form-control"
          id="usuarioapellidoP"
          formControlName="usuarioapellidoP"
        />
      </div>
      <div class="mb-3">
        <label for="usuarioapellidoM" class="form-label">Segundo Apellido</label>
        <input
          type="text"
          class="form-control"
          id="usuarioapellidoM"
          formControlName="usuarioapellidoM"
          aria-describedby="usuarioapellidoMhelp"
        />
        <div id="usuarioapellidoMhelp" class="form-text">Si no cuenta con segundo apellido ingrese NA'</div>
      </div>
      <div class="mb-3">
        <label for="usuarioemail" class="form-label">Correo electronico</label>
        <input
          type="text"
          class="form-control"
          id="usuarioemail"
          formControlName="usuarioemail"
        />
      </div>
      <div class="mb-3">
        <label for="usuariotelefono" class="form-label">Numero de telefono</label>
        <input
          type="text"
          class="form-control"
          id="usuariotelefono"
          formControlName="usuariotelefono"
        />
      </div>
      <div class="mb-3">
        <label for="IDcargo" class="form-label">Cargo</label>
        <select
          class="form-select"
          name="IDcargo"
          id="IDcargo"
          formControlName="IDcargo"
        >
          <option
            *ngFor="let lista of listacargos.rows; count as c"
            ngValue="{{ lista.IDcargo }}"
          >
            {{ lista.cargonombre }}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label for="IDrol" class="form-label">Rol</label>
        <select
          class="form-select"
          name="IDrol"
          id="IDrol"
          formControlName="IDrol"
        >
          <option
            *ngFor="let lista of listaroles.rows; count as c"
            ngValue="{{ lista.IDroles }}"
          >
            {{ lista.rolesnombre }}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label for="usuariocontrasenya" class="form-label"
          >Ingresa la contraseña</label
        >
        <input
          type="password"
          class="form-control"
          id="usuariocontrasenya"
          formControlName="usuariocontrasenya"
        />
      </div>
      <div class="mb-3">
        <label for="usuariosalario" class="form-label"
          >Salario</label
        >
        <input
          type="number"
          class="form-control"
          id="usuariosalario"
          formControlName="usuariosalario"
        />
      </div>
      <div class="text-center">
        <input
          [disabled]="!formulariouser.valid"
          (click)="enviar()"
          class="btn btn-outline-success"
          value="Confirmar"
          type="button"
        />
      </div>
    </form>
  </div>
</div>

<router-outlet></router-outlet>
